<!DOCTYPE html>
<html>
  <head>
    <title>Gamifying UX (prototype)</title>
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue-light_blue.min.css" />
    <link rel="stylesheet" href="/style.css">
    <style>
      .page-content {
        display: flex;
        min-height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      #uploader {
        -webkit-appearance: none;
        appearance: none;
        width: 50%;
        margin-bottom: 10px;
      }
    </style>
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  </head>
  <body>
    <!-- Simple header -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i id="close" class="material-icons">close</i>
          </button>
        </div>
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Practice Presenting</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-layout-icon">
            <button id="notifications" class="mdl-button mdl-js-button mdl-button--icon">
            </button>
          </div>
        </div>
      </header>
      <!-- Content -->
      <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
          <div class="page-content">
            <!-- Your content goes here -->
            <progress value="0" max="100" id="uploader">0%</progress>
            <input type="file" name="video" accept="video/*" id="capture" capture="camcorder">
          </div>
        </section>
      </main>
    </div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="/scrollsnap-polyfill.bundled.js"></script>
    <script src="/firebase-init.js"></script>
    <script>
      $(document).on('click','#close',function(){
        window.history.back();
      });
    </script>
    <script>
      var VIDEO_TEMPLATE = function(src){
        return '<video width="400" height="600" autoplay loop controls>' +
          '<source src="'+src+'" type="video/mp4" />' +
          'Your browser does not support the video tag.' +
        '</video>';
      };
      // Get elements
      var uploader = document.querySelector('#uploader');
      var capture = document.querySelector('#capture');
      // Listen for file selection
      capture.addEventListener('change', function(e) {
        // Get file
        var file = e.target.files[0];
        // Get a storage reference
        var storageRef = firebase.storage().ref();
        var uploadTask = storageRef.child('videos/' + file.name).put(file);
        // Update progress bar
        uploadTask.on('state_changed', 
          function progress(snapshot) {
            var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            uploader.value = progress;
          }, 
          function error(error) {
            switch (error.code) {
              case 'storage/unauthorized':
                console.log('User does not have permission to access the object');
                break;
              case 'storage/canceled':
                console.log('User canceled the upload');
                break;
              case 'storage/unknown':
                console.log('Unknown error occurred, inspect error.serverResponse');
                break;
            }
          }, 
          function complete() {
            // Get the file's Storage URI and update the chat message placeholder.
            var filePath = uploadTask.snapshot.metadata.fullPath;
            var downloadURL = uploadTask.snapshot.downloadURL;
            //console.log(downloadURL);
          });
        };
    </script>
  </body>
</html>